<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingban.futures.dao.PredictAccuracyHistoryDaysMapper">
	
	<resultMap type="predictAccuracyHistoryDays" id="predictAccuracyHistoryDaysMap">
		<result property="id" column="id" />
		<result property="code" column="code" />
		<result property="num" column="num" />
		<result property="correct" column="correct" />
		<result property="accuracy" column="accuracy" />
		<result property="createTime" column="createTime" />
	</resultMap>
	
	
	<select id="getPredictAccuracySummary" resultMap="predictAccuracyHistoryDaysMap">
		SELECT code, SUM(num) num, SUM(correct) correct, SUM(correct)/SUM(num) accuracy, CODE accuracy 
		FROM futures_predict_accuracy_history_days 
		<where>
			<if test="futuresCode!=null">
				AND code = #{futuresCode}
			</if>
			<if test="startDate!=null">
				AND createTime &gt;= #{startDate}
			</if>
			<if test="endDate!=null">
				AND createTime &lt;= #{endDate}
			</if>
		</where>
		GROUP BY code
		ORDER BY accuracy ${orderType}		
	</select>
	
</mapper>
